<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= base64_image @photo.image1 %>
  <%= base64_image @photo.image2 %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
